{
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "brace-style": 0,
    "no-use-before-define": 0,
    "semi": 0,
  }
}
